<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">




</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <h5 class="my-0 mr-md-auto font-weight-normal">NoteBook</h5>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input class="form-control form-control-dark text-bg-dark" type="submit" value="Выход"/>
        </form>
    </nav>
</div>
<br><br>


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">

            <div class="d-flex flex-column flex-shrink-0 bg-white" style="width: 380px;">
                <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-5 fw-semibold">Поиск записи</span>
                </a>

                <div class="list-group list-group-flush border-bottom scrollareas">
                    <form action="filter" method="post">

                        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm shadow-sm" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                                <input type="text" class="form-control" name="addname" placeholder="Введите название организаци">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-danger">Поиск</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>



        <div class="col-md-2"></div>

        <div class="col-md-4">

            <div class="d-flex flex-column flex-shrink-0 bg-white" style="width: 380px;">
                <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-5 fw-semibold">Результаты поиска</span>
                </a>

                <div class="alert alert-info mt-2" style="background: 0px; border-color: white;">
                    {{#search}}
                    <div class="list-group list-group-flush border-bottom scrollareas">

                        <a class="list-group-item list-group-item-action py-3 lh-sm shadow-sm" aria-current="true">
                            <div  class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1" >{{name}}</strong>
                            </div>
                            <div class="col-10 mb-1 small" >{{number_phone}}</div>
                        </a>
                    {{/search}}


                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-1"></div>






        <footer class="pt-4 my-md-5 pt-md-5 border-top " >
            <div class="row">
                <div class="col-12 col-md">

                    <small class="d-block mb-3 text-muted">© by mesh. E</small>
                </div>
            </div>
        </footer>


    </body>
</html>